.list-view {

	.card {
		margin: $element-margin 0;

		color: #fff;
		cursor: pointer;
	}

	

	.inner-card {
		position: relative;
		background-color: $card-background;
		background-repeat: none;
		background-position: center;
		background-size: cover;

		width: 100%;
		height: 20em;

		@include media($mobile) {
			height: 15em;
		}

		&:before {
		    content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 60%;
			left: 0;
			background-image: linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0));
		}
	}

	.card-content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: $card-padding;
	}



	.card-bottom {
		position: absolute;
   		bottom: 0;
	}
}