.singleview {

	.interview-image {
		img {
			width:100%;
		}
	}

	.interview-content {
		margin: 0 $card-padding;
		padding: $text-margin;

		h2 {
			margin: $text-margin 0 0 0;
		}

		.role {
			margin:0;
			padding-bottom: $text-margin;
			font-weight: 400;
		}

		.date {
			margin: 0;
			font-size: 80%;
		}
	}
}