<div class="expand-button">
</div>
<div class="text">

	<h4><%= getInterviewName() %></h4>
	<p><%= text %></p>
</div>
<% if (getFileType() == "audio") { %>
<div class="play-button" data-id="<%= _id %>">
</div>
<% } else if (file) { %>
<div class="file badge download">
	<a href="<%= getfileDir()+file.name %>">Download <%= file.name %></a>
</div>
<% } %>

<div class="more">
	<% if (tags.length > 0) { %>
	<ul class="tag-list">
		<% _.each(tags, function(tag) { %>
		<li><span class="badge with-hash"><%= tag %></span></li>
		<% }) %>
	</ul>
	<% } %>
</div>