<div class="interview-image">
	<% if (image) { %>
	<img src="<%= filesUrl+image.name %>">
	<% } %>
</div>

<div class="interview-content" >
	<p class="date"><%= formatDate(createdAt) %></p>
	<h2><%= name %></h2>
	<p class="role"><%= role %></p>
	<div class="line-horizontal"></div>
	<p class="text"><%= text %>
</div>

<div class="attachment-list">
	<!--<div class="attachment-header">
		<h3><%= name %></h3>
		<p><%= role %></p>
	</div>-->
	<% _.each(attachments, function(attachment, index) { %>
	<div class="attachment">
		<div class="expand-button">
		</div>
		<div class="text">
			<h3><%= name %> (<%= index+1 %>/<%= attachments.length %>)</h3>
			<p><%= attachment.text %></p>
		</div>
		<div class="play-button" data-id="<%= attachment._id %>">
		</div>
		
		<div class="more">
			<% if (attachment.tags.length > 0) { %>
			<ul class="tag-list">
				<% _.each(attachment.tags, function(tag) { %>
				<li><span class="badge with-hash"><%= tag %></span></li>
				<% }) %>
			</ul>
			<% } %>
		</div>
	</div>
	<% }) %>
</div>