
<h2>Edit Attachment</h2>

<div class="input-element">
	<label>Name</label>
	<% if (interview) { %>
		<%= interview.name %>
	<% } else { %>
		*not defined
	<% } %>
</div>
<div class="input-element">
	<label>Tags</label>
	<input type="text" id="input-tags" value="<%= tags.join(' ') %>"/>
</div>
<div class="input-element">
	<label>Text</label>
	<textarea id="input-text"><%= text %></textarea>
</div>

<div class="input-element">
	<label>File</label>
	<% if (file && interview) { %>
		<a href="<%= fileDir + interview._id + '/' + file.originalFilename %>"><%= file.originalFilename %></a>
	<% } else { %>
		No File
	<% } %>
	<label for="input-upload-file"><span class="button">Upload File</span></label>
	<input type="file" name="file" id="input-upload-file" style="display:none">
	
</div>

<button id="saveButton">Save Attachment</button>
<button id="deleteButton">Delete</button>