
<h2>Edit Attachment</h2>

<div class="input-element">
	<label>Name</label>
	<% if (interview && !isNew) { %>
		<%= interview.name %>
	<% } else { %>
		*not defined
	<% } %>
</div>
<div class="input-element">
	<label>Tags</label>
	<input type="text" id="input-tags" value="<%= tags.join(' ') %>"/>
</div>
<div class="input-element">
	<label>Question</label>
	<textarea id="input-text"><%= text %></textarea>
</div>

<% if (!isNew) { %>
<div class="input-element">
	<label>File</label>
	<% if (file && interview) { %>
		<a href="<%= fileDir + interview._id + '/' + file.name %>"><%= file.name %></a>
	<% } else { %>
		No File
	<% } %>
	<label for="input-upload-file" style="margin-bottom: 20px;"><span class="button">UPLOAD FILE</span></label>
	<input type="file" name="file" id="input-upload-file" style="display:none">
</div>
<% } %>

<div class="line"></div>

<p class="button-bar">
	<button id="saveButton" class="bold">SAVE</button>
	<button id="deleteButton" class="bold">DELETE</button>
</p>