
<h3><% if (interview) { %><%= interview.name %><% } else { %>*not defined<% } %></h3>
<p><span class="label">Question</span> <%= text %></p>
<p><span class="label">Tags</span> <%= tags.join(' ') %></p>
<p><span class="label">File</span>
	<% if (file && interview) { %>
		<a href="<%= fileDir + interview._id + '/' + file.name %>"><%= file.name %></a>
	<% } else { %>
		No File
	<% } %>
</p>
<p class="button-bar">
	<button id="editButton">EDIT</button>
	<button id="deleteButton">DELETE</button>
</p>
