
<h2>Edit Interview</h2>

<div class="input-element">
	<label>Name</label>
	<input type="text" id="input-name" value="<%= name %>"/>
</div>
<div class="input-element">
	<label>Role</label>
	<input type="text" id="input-role" value="<%= role %>"/>
</div>
<div class="input-element">
	<label>Text</label>
	<textarea id="input-text"><%= text %></textarea>
</div>

<div class="input-element">
	<label>Image</label>	
	<% if (image) { %>
	<img src="<%= filesUrl+image.name %>">
	<% } else { %>
	<p class="no-image">No Image</p>
	<% } %>
	<button>Change Image</button>
</div>

<button id="saveButton">Save Interview</button>
<button id="deleteButton">Delete</button>

<div id="interview-attachments"></div>
<button id="add-attachment-button">Add Attachment</button>